<div class="d-flex table-responsive p-1 my-auto shadow">
	<label class="flex-fill text-center btn-sm {% if requisition.stage == 'REQUIREMENTS SPECIFICATION' %}btn btn-info{% endif %}"> <span class="badge badge-info border">1</span> REQUIREMENTS SPECIFICATION </label>
	<label class="flex-fill text-center btn-sm {% if requisition.stage == 'HOD APPROVAL' %}btn btn-info{% endif %}"> <span class="badge badge-info border">2</span> HOD APPROVAL </label>
	<label class="flex-fill text-center btn-sm {% if requisition.stage == 'PDU APPROVAL' %}btn btn-info{% endif %}"> <span class="badge badge-info border">3</span> PDU APPROVAL </label>
	<label class="flex-fill text-center btn-sm {% if requisition.stage == 'AO APPROVAL' %}btn btn-info{% endif %}"> <span class="badge badge-info border">4</span> AO APPROVAL </label>
</div>
<hr class="m-0">