<div>
    <div>
	   <h5>Corrections</h5>
    </div>
    <!-- <hr> -->
    <table class="table table-sm border table-hover table-danger" style="cursor: pointer;">
        <tbody style="font-size: 12px;">
            {% for correction in requisition.requisitioncorrection_set.all %}
                <tr class="text-{{action.initiation.tag}}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ correction.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="text-decoration-none" href="{% url 'initiation:get_requisition_corrections' requisition_id=requisition.id %}"><small>Go to Corrections</small></a>
</div>