{% extends 'user-base.html' %}
{% load app_tags %}

{% block content %}

<div>
	<div class="login-content">
    	<div class="card">
    		<div class="card-header">
    			<i class="fa fa-user"></i> New Member
    		</div>

    		<div class="card-body">
    			<form method="POST" action="{% url 'core:create_profile' %}">
    				{% csrf_token  %}
                    {% render_field create_profile_form.first_name class="form-control" %}
                    {% render_field create_profile_form.last_name class="form-control" %}
                    {% render_field create_profile_form.email class="form-control" %}
                    {% render_field create_profile_form.title class="form-control" %}
                    {% render_field create_profile_form.telephone tel_code=create_profile_form.tel_code class="form-control" %}
                    <div align="center">
		    			<button class="btn btn-info">Save</button>
					</div>
		    	</form>
    		</div>
	    	
    	</div>
    </div>
</div>
{% endblock %}