{% load app_tags %}

<div class="bg-light p-2 border">
    <form method="POST" action="{% url 'planning:create_plan_correction' plan_id=plan.id %}">
        <h5>Add Correction</h5>
        <hr>
        {% csrf_token %}
        {{ create_plan_correction_form.plan|add_attrs:'{"hidden":"true"}' }}
        <div class="form-group">
            <small>Correction on</small>
            <div class="form-control" style="height: auto">
                {% for radio in create_plan_correction_form.on %}
                    <div class="myradio">
                        {{ radio }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <small>Describe the correction</small>
            {{ create_plan_correction_form.description|add_css:"form-control" }}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" value="Add Correction" />
        </div>
    </form>
</div>
