<div id="specificationSection">
    <table class="table table-bordered">
        <thead>
            <th colspan="2">
                Specifications
                {% if user == requisition.incharge and not requisition.initiated_on %}
                    <button class="d-inline btn btn-sm btn-info float-right" data-target="#specificationModal" data-toggle="modal">&plus; / &minus;</button>
                {% endif %}
            </th>
        </thead>
        <tbody>
        	{% for specification in requisition.specification_set.all %}
            <tr>
                <td>{{specification.attribute}}</td>
                <td>{{specification.value}}</td>
            </tr>
            {% empty %}
                <tr><td class="text-info">No specifications</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>