{% load procurement_tags %}
<div class="tab-pane fade" id="nav-non-consultancy-services-tab">
    <table class="table table-sm table-responsive table-bordered">
        <thead>
            <tr class="text-center">
                <th><small>Subject of Procuremet</small></th>
                <th><small>Total Estimated Cost</small></th>
                <th><small>Procurement Method</small></th>
                <th><small>Contract Type</small></th>
                <th><small>Prequalification (YES/NO)</small></th>
                <th><small>Bidding Schedule</small></th>
                <th><small>Contract Schedule</small></th>
                <th><small>Status</small></th>
            </tr>
        </thead>

        <tbody>
            {% for group, plans in groups.NON_CONSULTANCY_SERVICES %}
                <tr>
                    <td>{{ group.subject_of_procurement }}</td>
                                                
                    <td>{{ plans|consolidated_plan_cost|comma_separator }}</td>
                                                
                    <td>
                        {{group.method_of_procurement}}
                    </td>
                    
                    <td>
                        {{group.contract_type}}
                    </td>
                    
                    <td>{% if group.prequalification %}YES{% else %}NO{% endif %}</td>
                    
                    <td>
                        <table>
                            <tr>
                                <td><small>Invitation</small></td>
                                <td><small>{{group.bid_invitation_date|date:"F j, Y"}}</small></td>
                            </tr>
                            <tr>
                                <td><small>Closing/Opening</small></td>
                                <td><small>{{group.bid_opening_and_closing_date|date:"F j, Y"}}</small></td>
                            </tr>
                            <tr>
                                <td><small>Evaluation</small></td>
                                <td><small>{{group.bid_evaluation_date|date:"F j, Y"}}</small></td>
                            </tr>
                            <tr>
                                <td><small>Notification</small></td>
                                <td><small>{{group.award_notification_date|date:"F j, Y"}}</small></td>
                            </tr>
                        </table>
                        <br>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td><small>Signing</small></td>
                                <td><small>{{group.contract_signing_date|date:"F j, Y"}}</small></td>
                            </tr>
                            <tr>
                                <td><small>Completion</small></td>
                                <td><small>{{group.contract_completion_date|date:"F j, Y"}}</small></td>
                            </tr>
                        </table>
                        <br>
                    </td>

                    <td class="text-center">
                        <button class="btn btn-light btn-sm shadow-sm" data-toggle="collapse" data-target="#consolidationGroup{{group.id}}"><small>{{plans|length}} Plan(s)</small></button>
                        <hr>
                        {% if group.is_filled %}
                        <label class="fa fa-check"> OK</label>
                        {% else %}
                        <label class="font-weight-bold text-danger">INVALID</label>
                        {% endif %}
                        <hr>
                        <a href="{% url 'planning:update_consolidation_group' consolidation_group_id=group.id %}">SETUP</a>
                        <hr>
                        {% if requisitions_available %}
                        <a href="{% url 'planning:update_process_track' consolidation_group_id=group.id %}">PROCESS TRACK</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="7">
                        <div class="collapse multi-collapse" id="consolidationGroup{{group.id}}">
                            <table class="table table-responsive-sm border">
                                <tbody>
                                    {% for plan in plans %} 
                                        <tr>
                                            <td>{{ plan.id }}</td>
                                            
                                            <td class="border">
                                                <p class="m-0">{{ plan.subject_of_procurement }}</p>
                                                <small>User Department: {{plan.user_department}}</small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
    {% if groups.NON_CONSULTANCY_SERVICES|length == 0 %}
        <p class="text-center text-info">No consolidated plans yet</p>
    {% endif %}
</div>