{% extends 'user-base.html' %}
{% load procurement_tags %}

{% block content %}

<div class="container-fluid p-0">
    <div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Unallocated groups</h4>
        </div>

        <button class="nav-link btn rounded-circle" data-toggle="modal" data-target="#createConsolidationGroupFormModal"><span class="fa fa-plus"></span> New Group</button>
    </div>

    <div class="p-1">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th><small>Subject of Procuremet</small></th>
                            <th><small>Method of Procurement</small></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.subject_of_procurement }}</td>
                                <td>{{ group.type_of_procurement }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if groups|length == 0 %}
                    <p class="text-center text-info">No groups found</p>
                {% endif %}
            </div>
        </div>

        <br>
        <br>
        {% block consolidation_group_bottom_nav %}
        <nav class="d-flex bg-light fixed-bottom p-1 border-top">
            <div class="nav nav-pills flex-fill" id="nav-tab" role="tablist">
                <a href="{% url 'planning:update_process_tracks' %}" class="nav-item nav-link">Allocated</a>
            </div>
        </nav>
        {% endblock %}
    </div>

    {% include 'consolidation_group/create-consolidation-group.html' %}

</div>
{% endblock %}