{% extends 'user-base.html' %}
{% load procurement_tags %}

{% block content %}
<div class="container-fluid  p-0">
	<div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Check Corrections</h4>
        </div>
    </div>

	<div class="login-content">
		<p>Please approve the following correction before you continue.</p>
		{% include 'plan/plan-corrections-mini.html' %}
		<form method="POST" action="{% url 'planning:delete_plan_corrections' plan_id=plan.id %}">
			{% csrf_token %}

			<hr>
			{{ delete_plan_corrections_form.approve }} <label for="id_approve" >Approve</label>
			<hr>
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-info" name="submit">Continue</button>
			</div>
		</form>
	</div>
</div> 
{% endblock %}