{% extends 'base.html' %}
{% load app_tags %}

{% block body %}
<div class="container">
	<div class="login-content">

		<div>
			<h1 class="text-dark text-center"><span class="text-info">Ink</span>oop</h1>	
			<p class="text-dark text-center">Login</p>
		</div>

		<div class="login-content">
			<div class="login-form card bg-light shadow">
				<div class="mb-3">
					{% if messages %}
						{% for message in messages %}
							<div class="w-100 p-0 m-0 alert alert-{{ message.tags }} text-center alert-dismissible border-0 rounded-0">
								<button type="button" class="close py-0" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times</span>
								</button>
								{{ message }} 
							</div>
						{% endfor %}
					{% endif %}
				</div>
				
				<form method="POST" action="">
					{% csrf_token %}
					<div class="form-group">
						<small>Email</small>
				        {{ form.email|add_css:"form-control" }}
					</div>

					<div class="form-group">
						<small>Password</small>
				        {{ form.password|add_css:"form-control" }}
					</div>
					
					<div align="center" class="border-0">
						<button class="btn btn-info">Login <span class="fa fa-sign-in"></span></button>
						<a href="{% url 'core:forgot_password' %}" class="nav-link">Forgot Password</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}