{% extends 'user-base.html' %}

{% block content %}

<div>
	<div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Expenses</h4>
        </div>
    </div>

    <table class="table table-responsive-sm border">
        <tbody>
            {% for expense in expenses %} 
                <tr>
                    <td>{{ expense.code }}</td>
                    
                    <td class="border m-auto">
                        <p>{{ expense.name }}</p>
                    </td>
                </tr>
            {% empty %}
                <div class="container" align="center">
                    <label class="display-4 text-muted">No plans!</label>
                    <hr>
                    <a class="btn btn-primary" href="{% url 'core:create_plan' %}"><span class="fa fa-plus"></span> Add Plan</a>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}