{% extends 'user-base.html' %}

{% block content %}

<div>
	<div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Expenses</h4>
        </div>
        {% if user == pdu_head %}
            <button class="nav-link btn rounded-circle" data-toggle="modal" data-target="#createExpenseFormModal"><span class="fa fa-plus"></span> New Expense</button>
        {% endif %}
    </div>

    <table class="table table-responsive-sm border">
        <tbody>
            {% for expense in expenses %} 
                <tr>
                    <td>{{ expense.code }}</td>
                    
                    <td class="border m-auto">
                        <p>{{ expense.name }}</p>
                        <small>{{expense.procurement_type}}</small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if user == pdu_head %}
        {% include 'expense/create-expense-modal.html' %}
    {% endif %}


</div>
{% endblock %}