<div id="fileAttachmentRow" class="card p-0 my-4">
    <div class="card-body p-2">
        <strong>Specification File</strong>
        {% if user == requisition.incharge and not requisition.initiated_on %}
        <button class="float-right" data-target="#attachFileModal" data-toggle="modal"><span class="fa fa-file"></span> Attach</button>
        {% endif %}
        <hr>
        {% if requisition.file_attachment %}
        <div align="right">
            <a target="_blank" href="{{MEDIA_URL}}{{requisition.file_attachment}}" class="nav-link d-inline"><span class="fa fa-download"></span> Specification File</a>
            {% if user == requisition.incharge and not requisition.initiated_on %}
            <form id="deleteFileAttachmentForm" class="ajaxForm d-inline" data-progress-container="#deleteFileAttachmentForm" data-patch-containers='["#fileAttachmentRow"]' method="GET" action="{% url 'initiation:delete_requisition_file_attachment' requisition_id=requisition.id %}">
                {% csrf_token %}
                <button class="btn btn-link fa fa-trash nav-link text-danger"></button>
            </form>
            {% endif %}
        </div>
        {% else %}
        <p class="text-info">No file attached</p>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(".ajaxForm").submit(ajaxSubmit)
</script>