{% extends 'user-base.html' %}
{% load app_tags %}

{% block content %}
<div class="container-fluid  p-0">
	<div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Create Plan</h4>
        </div>
    </div>

	<div class="login-content">

		<form method="POST" action="{% url 'planning:create_plan' procurement_type_id=procurement_type.id %}" novalidate>

			{% csrf_token  %}
			
			{% render_field create_plan_form.expense class='form-control' %}

			{% render_field create_plan_form.subject_of_procurement class='form-control' %}
			
			{% render_field create_plan_form.unit_of_measure class='form-control' %}
			
			<div class="row">
				<div class="col-3">
					{% render_field create_plan_form.quantity class='form-control' min=1 %}					
				</div>
				<div class="col-4">
					{% render_field create_plan_form.estimated_unit_cost class='form-control' min=10000 step="1000" %}
				</div>
				<div class="col-5">
					<small>Total Cost</small>
					<div id="totalCostField" class="form-control bg-light"></div>
				</div>

				<script>
					$(document).ready(function() {
						calculateTotalCost()
					})
					$("#id_quantity").on("change", (event)=>{
						calculateTotalCost()
					})
					$("#id_estimated_unit_cost").on("change", (event)=>{
						calculateTotalCost()
					})
					calculateTotalCost = function(){
						res = $("#id_estimated_unit_cost")[0].value * $("#id_quantity")[0].value
						$("#totalCostField").html(res)	
					}
				</script>
			
			</div>
			
			<div class="form-group">
				<small>Source of Funding</small>
				<div class="form-control" style="height: auto">
					{% for radio in create_plan_form.source_of_funding %}
						<div>
							{{ radio }}
						</div>
					{% endfor %}
					
				</div>
				<small class="text-danger">{{create_plan_form.errors.source_of_funding}}</small>
			</div>
			<div class="form-group">
				<small>Date Required</small>
				<div class="row border m-0 rounded p-3">
					<div class="col-md-6">
						{% render_field create_plan_form.date_required_q1 class="custom-control-input" %}
					</div>
					<div class="col-md-6">
						{% render_field create_plan_form.date_required_q2 class="custom-control-input" %}
					</div>
					<div class="col-md-6">
						{% render_field create_plan_form.date_required_q3 class="custom-control-input" %}
					</div>
					<div class="col-md-6">
						{% render_field create_plan_form.date_required_q4 class="custom-control-input" %}
					</div>
				</div>
			</div>

			<hr>
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-info" name="submit">Add Plan</button>
			</div>
		</form>
	</div>
</div> 
{% endblock %}