{% load app_tags %}
<div id="plan">
    <div id="title-div"></div>
    <table class="table table-responsive-sm table-bordered">
        <tr>
            <th  class="text-center" colspan="4">Procurement Plan</th>
        </tr>
        <tr class="text-center">
            <th >Procuring and Disposing Entity</th>
            <th >Financial year</th>
        </tr>
        <tr class="text-center">
            <td  class="text-info">{{entity_name}}</td>
            <td  class="text-info">{{FY}}</td>
        </tr>
    </table>

    <table class="table table-hover table-bordered table-sm table-responsive-sm">

        <tr>
            <td  class="text-center" colspan="2">User Department</td>
            <td  class="text-center" colspan="2">{{ plan.user_department }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Expense</td>
            <td  class="text-center" colspan="2">{{ plan.expense }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Subject of Procurement</td>
            <td  class="text-center" colspan="2">{{ plan.subject_of_procurement }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Type of Procurement</td>
            <td  class="text-center" colspan="2">{{ plan.procurement_type }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Quantity</td>
            <td  class="text-center" colspan="2">{{ plan.quantity }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Unit of Measure</td>
            <td  class="text-center" colspan="2">{{ plan.unit_of_measure }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Estimated Cost</td>
            <td  class="text-center" colspan="2">{{ plan.estimated_cost|currency }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Source of Funding</td>
            <td  class="text-center" colspan="2">{{ plan.source_of_funding }}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Dates required</td>
            <td  class="text-center" colspan="2">
                <table class="table">
                    <tr>
                        <td>Q1</td>
                        <td>{% if plan.date_required_q1 %}<span class="fa fa-check"></span>{% endif %}</td>
                        <td>Q2</td>
                        <td>{% if plan.date_required_q2 %}<span class="fa fa-check"></span>{% endif %}</td>
                    </tr>

                    <tr>
                        <td>Q3</td>
                        <td>{% if plan.date_required_q3 %}<span class="fa fa-check"></span>{% endif %}</td>
                        <td>Q4</td>
                        <td>{% if plan.date_required_q4 %}<span class="fa fa-check"></span>{% endif %}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">PREPARED</td>
            <td  class="text-center" colspan="2">{% if plan.prepared_on %}YES ({{plan.prepared_on}}){% else %}NO{% endif %}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">APPROVED (HOD)</td>
            <td  class="text-center" colspan="2">{% if plan.hod_approved_on %}YES ({{plan.hod_approved_on}}){% else %}NO{% endif %}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">APPROVED (PDU)</td>
            <td  class="text-center" colspan="2">{% if plan.pdu_approved_on %}YES ({{plan.pdu_approved_on}}){% else %}NO{% endif %}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">CONSOLIDATED</td>
            <td  class="text-center" colspan="2">{% if plan.consolidated_on %}YES ({{plan.consolidated_on}}){% else %}NO{% endif %}</td>
        </tr>
    </table>

    {% with consolidation_group=plan.consolidation_group %}
    {% if consolidation_group %}
    <table class="table table-hover table-bordered table-sm table-responsive-sm">       
        <tr>
            <td  class="text-center" colspan="2">Bid Invitation</td>
            <td  class="text-center" colspan="2">{{consolidation_group.bid_invitation_date|date:time_format}}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Bid Opening and Closing</td>
            <td  class="text-center" colspan="2">{{consolidation_group.bid_opening_and_closing_date|date:time_format}}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Approval of Evaluation</td>
            <td  class="text-center" colspan="2">{{consolidation_group.bid_evaluation_date|date:time_format}}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Award Notification</td>
            <td  class="text-center" colspan="2">{{consolidation_group.award_notification_date|date:time_format}}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Contract Signing</td>
            <td  class="text-center" colspan="2">{{consolidation_group.contract_signing_date|date:time_format}}</td>
        </tr>

        <tr>
            <td  class="text-center" colspan="2">Contract Completion</td>
            <td  class="text-center" colspan="2">{{consolidation_group.contract_signing_date|date:time_format}}</td>
        </tr>
    </table>
    {% endif %}
    {% endwith %}
</div>
<hr>