<div class="d-flex table-responsive p-1 my-auto shadow">
	<label class="flex-fill text-center btn-sm {% if plan.stage == 'PREPARATION' %}btn btn-info{% endif %}"> <span class="badge badge-info border">1</span> PREPARATION </label>
	<label class="flex-fill text-center btn-sm {% if plan.stage == 'HOD APPROVAL' %}btn btn-info{% endif %}"> <span class="badge badge-info border">2</span> HOD APPROVAL </label>
	<label class="flex-fill text-center btn-sm {% if plan.stage == 'PDU APPROVAL' %}btn btn-info{% endif %}"> <span class="badge badge-info border">3</span> PDU APPROVAL </label>
	<label class="flex-fill text-center btn-sm {% if plan.stage == 'CONSOLIDATION' %}btn btn-info{% endif %}"> <span class="badge badge-info border">4</span>  CONSOLIDATION </label>
</div>
<hr class="m-0">
