    {% extends 'user-base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Departmental Plans</h4>
        </div>

        <div align="right">
            <button class="btn btn-outline-light" data-toggle="modal" data-target="#selectPlanExpenseModal"><span class="fa fa-plus"></span> Add Plan</button>
        </div>
    </div>

    {% include 'plan/select-plan-expense-modal.html' %}

    <table class="table table-responsive-sm border">
        <tbody>
            {% for plan in plans %} 
                <tr>
                    <td>{{ plan.id }}</td>
                    
                    <td class="border m-auto">
                        <p>{{ plan.subject_of_procurement }}</p>
                        <small>Created by: {{plan.initiator.first_name}} {{plan.initiator.last_name}}</small>
                    </td>
                    <td>{% if plan.stage %}Waiting for <strong>{{ plan.stage }}{% else %}<strong>PUBLISHED</strong>{% endif %}</strong> </td>
                    <td><a href="{% url 'planning:get_plan' plan_id=plan.id %}" class='btn btn-info'>Details</a></td>
                </tr>
            {% empty %}
                <div class="container" align="center">
                    <label class="display-4 text-muted">No plans!</label>
                    <hr>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#selectPlanExpenseModal"><span class="fa fa-plus"></span> Add Plan</button>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}