{% extends 'user-base.html' %}
{% load app_tags %}

{% block content %}
<div class="container-fluid p-0">
    <div class="bg-info p-2 shadow fixed d-flex">
        <div class="flex-fill m-auto">
            <h4 class="text-light">Departmental Plans</h4>
        </div>

        <div align="right">
            <button class="btn btn-outline-light" data-toggle="modal" data-target="#selectPlanExpenseModal"><span class="fa fa-plus"></span> Add Plan</button>
        </div>
    </div>

    <div class="modal fade" id="selectPlanExpenseModal"> 
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Select Type of Procurement</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'planning:select_plan_procurement_type' %}">
                        {% csrf_token %}
                        <table>
                            {% render_field select_plan_procurement_type_form.procurement_type %}
                        </table>
                        <div class="modal-footer">
                            <button class="btn btn-info">Next</button>
                        </div>      
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-responsive-sm border">
        <tbody>
            {% for plan in plans %} 
                <tr>
                    <td>{{ plan.id }}</td>
                    
                    <td class="border m-auto">
                        <p>{{ plan.subject_of_procurement }}</p>
                        <small>Created by: {{plan.initiator.first_name}} {{plan.initiator.last_name}}</small>
                    </td>
                    <td>
                        {% if plan|has_attr:'requisition' %}
                            <strong>PUBLISHED</strong>
                        {% else %}
                            Waiting for <strong>{{ plan.stage }}</strong>
                        {% endif %} 
                    </td>
                    <td><a href="{% url 'planning:get_plan' plan_id=plan.id %}" class='btn btn-info'>Details</a></td>
                </tr>
            {% empty %}
                <div class="container" align="center">
                    <label class="display-4 text-muted">No plans!</label>
                    <hr>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#selectPlanExpenseModal"><span class="fa fa-plus"></span> Add Plan</button>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}