<div class="my-1">
    
    <div class="form-group">
        <small class="text-info">Current Stage</small>
        <P style="height: auto">
            {{plan.stage}}
        </P>
    </div>

    {% if plan.stage != 'DONE' %}

    <hr>
    
    <div class="form-group">
        <small class="text-info">Next Action</small>
        <p class="" style="height: auto">
            {% if plan.stage == "PREPARATION" %}HOD APPROVAL{% elif plan.stage == "HOD APPROVAL"%}PDU APRROVAL{% elif plan.stage == "PDU APPROVAL"%}CONSOLIDATION{% elif plan.stage == "CONSOLIDATION"%}INITIATION{% endif %}
        </p>
    </div>
    {% endif %}
</div>

<hr>

<div>
    <div>
        <h5>Action Logs</h5>

        <table class="table table-sm table-bordered table-striped" style="cursor: pointer;">
            <tbody style="font-size: 12px;">
                {% for action in plan.planaction_set.all %}
                    <tr class="text-{{action.initiation.tag}}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ action.date|date:"F j, Y" }}</td>
                        <td>{{ action.action }}</td>
                        <td>{{ action.user }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>