{% extends 'plan/plan-base.html' %}
{% load procurement_tags %}


{% block plan_content %}
	<div class="col-md-5">
		{% include 'plan/plan-corrections-mini.html' %}
	</div>

	<div class="col-md-7 border p-2">
		<h5>Edit Plan</h5>
		<hr>
		<form method="POST" action="{% url 'planning:update_plan' plan_id=plan.id %}">
			{{ update_plan_form.errors }}

			{% csrf_token %}

			{{ update_plan_form.id|add_attrs:'{"hidden":"true"}' }}

			<div class="form-group">
				<small>Chart of Account</small>
				{{ update_plan_form.chart_of_account|add_css:"form-control" }}
			</div>

			<div class="form-group">
				<small>Subject of Procurement</small>
				{{ update_plan_form.subject_of_procurement|add_css:"form-control" }}
			</div>

			<div class="form-group">
				<small>Quantity</small>
				{{ update_plan_form.quantity|add_css:"form-control" }}
			</div>

			<div class="form-group">
				<small>Unit of measure</small>
				{{ update_plan_form.unit_of_measure|add_css:"form-control" }}
			</div>

			<div class="form-group">
				<small>Estimated Cost</small>
				{{ update_plan_form.estimated_cost|add_css:"form-control" }}
			</div>

			<div class="form-group">
				<small>Source of Funding</small>
				<div class="form-control" style="height: auto">
					{% for radio in update_plan_form.source_of_funding %}
						<div>
							{{ radio }}
						</div>
					{% endfor %}
					<small class="text-info">Specify Funder</small>
					{{ update_plan_form.other_funder|add_attrs:'{"id":"id_other_funder", "class":"form-control"}' }}
					<script type="text/javascript">
						$('.source_of_funding_radio').on('change', (e)=>{
							if (e.target.value == "0") {
								$('#id_other_funder').val('').attr('disabled', false)
							}else{
								$('#id_other_funder').val('').attr('disabled', true)
							}
						})
					</script>
				</div>
			</div>

			<div class="form-group">
				<small>Date Rquired</small>
				<div class="row p-3">
					<div class="custom-control custom-checkbox col-md-6">
						{{ update_plan_form.date_required_q1|add_attrs:'{"class":"custom-control-input", "id":"q1"}' }}
						<label class="custom-control-label" for="q1">Quarter 1 <small>(Jul, Aug, Sep)</small></label>
					</div>
					<div class="custom-control custom-checkbox col-md-6">
						{{ update_plan_form.date_required_q2|add_attrs:'{"class":"custom-control-input", "id":"q2"}' }}
						<label class="custom-control-label" for="q2">Quarter 2 <small>(Oct, Nov, Dec)</small></label>
					</div>
					<div class="custom-control custom-checkbox col-md-6">
						{{ update_plan_form.date_required_q3|add_attrs:'{"class":"custom-control-input", "id":"q3"}' }}
						<label class="custom-control-label" for="q3">Quarter 3 <small>(Jan, Feb, March)</small></label>
					</div>
					<div class="custom-control custom-checkbox col-md-6">
						{{ update_plan_form.date_required_q4|add_attrs:'{"class":"custom-control-input", "id":"q4"}' }}
						<label class="custom-control-label" for="q4">Quarter 4 <small>(Apr, May, Jun)</small></label>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-info" name="submit">Save Plan</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block plan_foot %}
	<div id="authenticationFormContainer" class="bg-light p-2 fixed-bottom shadow border-top" align="center">
		Waiting for <strong>{{plan.stage}}</strong>
	</div>
{% endblock %}